.flip-box {
  background-color: transparent;
  width: 100%;
  height: 610px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #212324;
  color: black;
}

.flip-box-back {
  background-color: #212324;
  transform: rotateY(180deg);
}


.flip-image{
    border-radius: 50%;
}

.flip-text{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10px;
}

.centered_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
